@model UpdatePostDTO
@{
    ViewBag.Title = "Gönderiyi Düzenle";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Gönderiyi Düzenle</h2>
    <form action="https://localhost:7225/Admin/AdminPost/Update" method="post" enctype="multipart/form-data">
         <input type="hidden" asp-for="Id" />  <!--GÜNCELLEME: ID'yi form ile gönderiyoruz -->
        <!-- Oluşturulma tarihini saklı input alanı olarak ekleyelim -->
        <input type="hidden" asp-for="CreatedDate" />

        <div class="form-group">
            <label for="Title">Başlık</label>
            <input asp-for="Title" class="form-control" placeholder="Başlığı güncelle" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Content">İçerik</label>
            <textarea asp-for="Content" class="form-control" placeholder="İçeriği güncelle"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="UploadPath">Resmi Güncelle</label>
            <input asp-for="UploadPath" type="file" class="form-control-file" />
            <span asp-validation-for="UploadPath" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="AuthorId">Yazar Seçin</label>
            <select asp-for="AuthorId" class="form-control">
                <option value="">Yazar Seçiniz</option>
                @if (ViewBag.Authors != null)
                {
                    foreach (var author in ViewBag.Authors)
                    {
                        <option value="@author.Id">@author.FirstName @author.LastName</option>
                    }
                }
                else
                {
                    <option disabled>Yazar bulunamadı</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="GenreId">Kategori Seçin</label>
            <select asp-for="GenreId" class="form-control">
                <option value="">Lütfen bir tür seçin</option>
                @if (ViewBag.Genres != null)
                {
                    foreach (var genre in ViewBag.Genres)
                {
                    <option value="@genre.Id">@genre.Name</option>
                }
                }
                else
                {
                    <option disabled>Tür bulunamadı</option>
                }
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-block">Gönderiyi Güncelle</button>
        <br />
        <button class="btn btn-secondary" onclick="history.back()">Geri Dön</button>
    </form>
</div>
