@using Microsoft.AspNetCore.Identity
@using OnionProject.Domain.Entities
@inject SignInManager<AppUser> SignInManager
@model OnionProject.Application.Models.VMs.AuthorDetailVm

@{
    ViewData["Title"] = "Author Details";
}

<style>
    body{
        background-color: #1a1d22;
    }
    th, td, h1, p{
        color: #d6d6d6;
    }
</style>

<div class="container mt-5 p-4 shadow rounded" style="background-color: #525d5f;">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <h1 class="display-4" style="font-weight: 700;">@Model.FullName</h1>
            <p>Detailed Profile Information</p>
            <hr class="w-50 mx-auto" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="@Model.ImagePath" alt="Author Image" class="img-fluid shadow-lg border"
                     style="width: 350px; height: 350px; object-fit: cover;" />
            }
        </div>

        <div class="col-md-8" style="background-color: #333c3d;">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th class="text-end" style="width: 30%;">First Name:</th>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <th class="text-end">Last Name:</th>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <th class="text-end">Email:</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th class="text-end">Phone Number:</th>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <th class="text-end">Biography:</th>
                        <td>@Model.Biography</td>
                    </tr>
                    <tr>
                        <th class="text-end">Created Date:</th>
                        <td>@Model.CreatedDate.ToString("d")</td>
                    </tr>
                    @if (Model.UpdatedDate.HasValue)
                    {
                        <tr>
                            <th class="text-end">Updated Date:</th>
                            <td>@Model.UpdatedDate.Value.ToString("d")</td>
                        </tr>
                    }
                    @if (Model.DeletedDate.HasValue)
                    {
                        <tr>
                            <th class="text-end">Deleted Date:</th>
                            <td>@Model.DeletedDate.Value.ToString("d")</td>
                        </tr>
                    }
                    <tr>
                        <th class="text-end">Status:</th>
                        <td>@Model.Status</td>
                    </tr>
                    <tr>
                        <th class="text-end">Number of Posts:</th>
                        <td>@Model.NumberOfPosts</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <a href="@GetReturnUrl()" class="btn btn-primary px-4 py-2 shadow">Go Back</a>
        </div>
    </div>
</div>


@section Scripts {
    @functions {
    public string GetReturnUrl()
    {
        // Eğer kullanıcı adminse Admin/Author/Index'e yönlendir
        if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            return "https://localhost:7225/Admin/Author/Index";
        }
        else 
            // Eğer kullanıcı admin değilse nereden gelmişse oraya yönlendir
            return "javascript:history.back()";
        

    }
   }
}